.App {
	width: 100%;
	box-sizing: border-box;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background  : url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiLRgoeOd6uLWWHk15bxpNxyFeJPiQqaM1Xsej90UEkL1Xs8RGq4Ot5PnYX6t95ZDujGo&usqp=CAU");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
	color: aliceblue;
	
}
.weather_tltle{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-right: 5px;
  animation: bounce;
	animation-duration: 2s;
	display: flex;
	justify-content: center;

}

.weather_title_image{
  width: 30px;
  height: 30px;
 
}

article {
	width: 60%;
	height: auto;
	justify-content: center;
	align-items: center;
	align-content: center;
	background: rgba(0, 3, 66, 0.303);
	box-shadow: 0 8px 32 0 rgba(76, 80, 137, 0.37);
	border-radius: 5px;
	backdrop-filter: blur(2px);

}

	

h3 {
	display: flex;
	justify-content: center;
}
h4 {
	display: flex;
	justify-content: center;
}

section {
	display: flex;
	justify-content: space-around;
	height: 100px;

}

ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
  align-items: center;
  
  padding: 0;
}
li {
	margin-left: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	size: 2px;


}
.wather_change_temperature {
	display: flex;
	font-size: 40px;
	font-family: "Times New Roman", Times, serif;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 4px;
}

span {
	color: #2ee6e9;
}

button {
	font-family: "Times New Roman", Times, serif;
	color: aliceblue;
	width: 120px;
	height: 55px;
	justify-content: center;
	align-items: center;
	background: rgba(224, 225, 231, 0.3);
	box-shadow: 0 8px 32 0 rgba(25, 25, 26, 0.37);
	border-radius: 5px;
	backdrop-filter: blur(2px);
	border: 1px solid rgba(0, 0, 0, 0.18);
}
button:hover {
	background-color: rgba(76, 80, 137, 0.37);
	cursor: pointer;
}
